<section id="branch" class="container">
    <h3>All Employees</h3>

    {{#each employees}}
      <div class="employee">
      <h4> Name: {{fist_name}} {{last_name}}</h4>

      <h4></p>Branch: {{description}}</h4>
      <ul>
        <li>places_id: {{places_id}}</li>
         <li>latlong: {{latlong}}</li>
      </ul>
    </div>
    {{else}}
      <p>No Branches available</p>
    {{/each}}
    
  </section>